@require '../variables'
article
  margin-top: (base-line * 2)
  width: 100%
  & > figure
    margin-bottom: base-line

  & > header
  & > footer
    display:flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
