body
  min-height:100vh
  border:none
  display:flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  // border: ( base-line / 2 ) solid blue
  // box-shadow: inset (base-line * 5) base-line gold
  // box-shadow: -1px -1px -3px blue
  padding: 0 ( base-line / 2 )
  line-height: remove-unit(base-line)
  user-select: none

  & > main
    display:flex
    flex-direction: column
    align-items: center
    justify-content: space-around

  & > header
    padding: 0 (base-line / 2)
    display:flex
    flex-direction: row
    // margin: base-line 0
    width:100vw
    justify-content: space-around
    & > a
      position: absolute
      top:base-line
      left:base-line
      & > img
        height:(base-line * 2)
