@require '../variables'
nav
  display: flex
  flex-direction:column
  align-content: flex-start
  align-items:center
  align-content:space-around

  & > a
    between: font-size, min-font, max-font, min-screen, max-screen
    color: white
    display:inline-block
    margin: base-line
    padding: base-line
    width: 100vw - base-line * 5
    min-height: 66vw
    border-radius:  base-line

    figure
      display: flex
      flex-direction: column
      img
        border-radius: base-line
        // width: 50%
      figcaption
          text-align: center
