@require '../variables'
nav
  display: flex
  flex-direction:column
  align-content: flex-start
  align-items:center
  align-content:space-around

  & > a
    between: font-size, min-font, max-font, min-screen, max-screen
    color: white
    display:inline-block
    margin: base-line
    padding: base-line
    width: 100vw - base-line * 5
    border-radius:  (base-line / 6)

    figure
      display: flex
      flex-direction: column
      @media (min-width: min-screen)
        flex-direction: row
      img
        border-radius:  (base-line / 6)
        height: 25vh
        min-width:25vh
        width: auto;
      figcaption
        margin-left:base-line
        width: 50vw
