<header>
  <h1>The light pours out</h1>
</header>
<nav>
  <a class="black" href="/the_space_lady/gets_down_to_earth.html">
    <figure>
      <img src="the_space_lady/inline-02.jpg" alt="">
      <figcaption>
        <h2>The Space Lady</h2>
        <h3>Gets down to earth</h3>
      </figcaption>
    </figure>
  </a>
  <a class="blue" href="/mark_gardner/growing_into_fame.html">
    <figure>
      <img src="mark_gardner/inline-02.jpg" alt="">
      <figcaption>
        <h2>Mark Gardner</h2>
        <h3>Growing into fame</h3>
      </figcaption>
    </figure>
  </a>
  <a class="yellow" href="/martin_newell/last_of_the_radical_long_hairs.html">
    <figure>
      <img src="martin_newell/inline-02.jpg" alt="">
      <figcaption>
        <h2>Martin Newell</h2>
        <h3>Last of the radical long hairs</h3>
      </figcaption>
    </figure>
  </a>
  <a class="black" tabindex="-1" href="/esmerelda">
    <figure>
      <img src="graphics/the_light_pours_out.svg" alt="">
      <figcaption>
        <h2>Esmerelda</h2>
        <h3>No mercy</h3>
      </figcaption>
    </figure>
  </a>
</nav>
