<header>
  <h1>The light pours out</h1>
</header>
<nav>
  <a class="blue" tabindex="-1" href="/mark_gardner/growing_into_fame.html"></a>
  <a class="yellow" tabindex="-1" href="/martin_newell/last_of_the_radical_long_hairs.html">
    <figure class="headline">
      <img src="martin_newell/cover.jpg" alt="">
      <figcaption>
        <h2>Martin Newell</h2>
        <h3>Last of the radical long hairs</h3>
      </figcaption>
    </figure>
  </a>
  <a class="red" tabindex="-1" href="/esmerelda"></a>
</nav>
